.ipynb_checkpoints
*/.ipynb_checkpoints/*

/.quarto/
/_manuscript

/rv
/rv.lock
.Rprofile
/notebooks/rv
/notebooks/.Rprofile
/notebooks/rv.lock

/.venv/

/agujournal2019.cls
/trackchanges.sty
.Rproj.user
.Rhistory
.Rdata
.httr-oauth
.DS_Store

/notes.md
/eLife
/ImagingNeuroscience

**/*.quarto_ipynb
